<p class="title">上传文件</p>

<% form_tag({:action => 'do_the_upload', :folder_id => controller.folder_id}, {:multipart => true}) do %>
    <%= myfile_to_file(error_messages_for('myfile')) %>
    <label for="myfile_name">选择上传的文件:</label><br/>
    <%= file_field 'myfile', 'myfile' %><br />
    <br />
    <%= submit_tag '上传' %>
<% end %>

<%= link_to '返回', :controller => 'folder', :action => 'list', :id => controller.folder_id %>