<p class="title">RSS 提示</p>
星尚大典媒体中心允许您通过RSS供稿跟踪目录中的变化:<br />
<ul>
    <li>监测上传至目录中的文件;</li>
    <li>监测目录中的子目录.</li>
</ul>
警告!需要个人访问密钥授权来获取内容供稿.<br />
请不要和他人共享该密钥.<br />
<br />
<a href="javascript:history.back(-1);">返回</a>