<p class="title">重命名文件夹</p>

<% form_tag :action => 'update', :id => @folder do %>
    <%= render :partial=>'form' %>
    <%= submit_tag '重命名' %>
<% end %>

<%= link_to '返回', :action => 'list', :id => controller.folder_id %>