<p class="title">忘记密码</p>

<% if flash[:forgotten_notice] %>
<div id="error"><%= flash[:forgotten_notice] %></div>
<% end %>

<p>
    取回密码:
</p>
<ul>
    <li>请输入您注册时使用的用户名和电子邮件;</li>
    <li>点击"发送给我一个新密码"按钮;</li>
    <li>检查您的邮箱</li>
</ul>
<% form_tag do %>
    用户名:<br />
    <%= text_field 'user', 'name'  %><br />
    <br />
    电子邮件:<br />
    <%= text_field 'user', 'email'  %><br />
    <br />
    <%= submit_tag '发送给我一个新密码' %>
<% end %>

<%= link_to '返回登陆界面', :action => 'login' %>